
.icon-user:before { content: '\e800'; } /* '' */
.icon-docs:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
